.container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .blueBackground{
        width: 100%;
        height: 33vh;
        background-color: rgb(30, 50, 80);
        position: absolute;
        top: 0;
    }
    .formEmail{
        width: 96%;
        max-width: 600px;
        height: fit-content;
        max-height: 96%;
        background-color: white;
        position: absolute;
        border-radius: 16rem;
        box-shadow: 0px 4px 8px 8px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        padding: 10px;
        .divLogo{
            width: 100%;
            background-color: rgb(30, 50, 80);
            margin-bottom: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 14rem 14rem 0 0;
            position: relative;
            .btnGoBack{
                padding: 4px 5px;
                border-radius: 6px;
                border: 1px solid rgb(30, 50, 80);
                color: white;
                position: absolute;
                left: 8rem;
                top: 8rem;
                font-size: 14rem;
                cursor: pointer;
                &:hover{
                    border: 1px solid white;
                }
            }
            .imgLogo{
                height: 100rem;
                width: 100rem;
                cursor: pointer;
            }
            .divContacts{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 8rem;
                padding-right: 8rem;
                gap: 16rem;
                a{
                    font-size: 16rem;
                    color: rgb(185, 185, 185);
                    margin-bottom: 10rem;
                    text-align: left;
                    font-weight: 200;
                    transition: 0.5s;
                }
                a:hover{
                    margin-left: 5rem;
                    margin-right: 5rem;
                    color: white;
                }
            }
        }
        .lblEmail{
            margin: 8rem 0;
            color: rgb(30, 50, 80);
        }
        .email{
            height: 40rem;
            border: 1px solid rgb(30, 50, 80);
            border-radius: 8rem;
            padding: 12rem;
        }
        .txtEmail{
            height: 150rem;
            padding: 12rem;
            border: 1px solid rgb(30, 50, 80);
            border-radius: 8rem;
        }
        .btnSend{
            height: 40rem;
            width: 100%;
            margin-top: 20rem;
            align-self: flex-end;
            border-radius: 8rem;
            background-color: rgba(50, 184, 99, 0.7);
            border: 1px solid rgba(50, 184, 99, 0.7);
            color: white;
            font-weight: 600;
            transition: 0.5s;   
        }
        .btnSend:hover{
            background-color: rgba(50, 184, 99, 1);
            border: 1px solid rgba(50, 184, 99, 1);
        }
    }
}
@media(min-width: 426px) {
    .btnSend{
        max-width: 300rem;
    }
}