.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    .maxSize{
        width: 98%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .divText{
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
            .titleDefault{
                margin: 0 0 0 6px;
                color: rgb(30, 50, 80);
                font-weight: 400;
                font-size: 24rem;
                .bars{     
                    height: 50px;
                    width: 50px;
                }
            }
        }
        .divImg{
            width: 100%;
            height: 45vw;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
            .imgCarrousel1{ 
                height: 95%;
                width: 95%;
                object-fit: contain;    
                margin: 16rem 0;
                position: absolute;
                right: 231vw;
            }
            .imgCarrousel2{    
                height: 95%;
                width: 95%;
                object-fit: contain;
                margin: 16rem 0;
                position: absolute;
                right: 154vw;
                transition: 1s ease-in-out;
            }
            .imgCarrousel3{     
                height: 92%;
                width: 92%;
                object-fit: contain;
                margin: 16rem 0;
                position: absolute;
                right: 77vw;
                transition: 1s ease-in-out;
            }
            .imgCarrousel4{     
                height: 100%;
                width: 100%;
                object-fit: contain;
                margin: 16rem 0;
                position: absolute;
                right: 0vw;
                transition: 1s ease-in-out;
                cursor: pointer;
                z-index: 2;
            }
            .imgCarrousel5{     
                height: 92%;
                width: 92%;
                object-fit: contain;
                margin: 16rem 0;
                position: absolute;
                right: -69vw;
                transition: 1s ease-in-out;
            }
            .imgCarrousel6{     
                height: 95%;
                width: 95%;
                object-fit: contain;
                margin: 16rem 0;
                position: absolute;
                right: -138vw;
                transition: 1s ease-in-out;
            }
            .imgCarrousel7{     
                height: 95%;
                width: 95%;
                object-fit: contain;
                margin: 16rem 0;
                position: absolute;
                right: -207vw;
            }
            .btnRight{
                position: absolute;
                z-index: 3;
                width: 8vw;
                height: 30vw;
                right: 0;
                font-weight: 600;
                color: rgb(30, 50, 80);
                background-color: rgba(255,255,255,0.5);
                border: none;
                i{
                    font-weight: 600;
                    font-size: 24rem;
                }
            }
            .btnLeft{
                position: absolute;
                z-index: 3;
                width: 8vw;
                height: 30vw;
                left: 0;
                font-weight: 600;
                color: rgb(30, 50, 80);
                background-color: rgba(255,255,255,0.5);
                border: none;
                i{
                    font-weight: 600;
                    font-size: 24rem;
                }
            }
        }
        .divMoreImages{
            background-color: rgba(30, 50, 80, 0.6);
            border-radius: 0 0 8px 8px;
            padding: 6px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 12rem;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                background-color: rgba(30, 50, 80, 0.9);
                padding: 6px 18px;
            }
            .camera{
                color: white;
            }
            .pImages{
                color: white;
                font-weight: 600;
            }
        }
        .divMap{
            width: 100%;
            height: 400px;
            display: flex;
            margin-bottom: 50rem;
            .maps{
                width: 100%;
                height: 100%;
                border: none;
            }
        }
        .divDescription{
            height: fit-content;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: white;
            .left{
                width: 100%;
                min-width: 310px;
                max-width: 400px;
                height: 500px;
                display: none;
                p{
                    font-size: 20rem;
                    font-weight: 200;
                    color: rgb(30, 50, 80);
                }
            }
            .right{
                width: 100%;
                max-width: 720px;
                min-width: 300px;
                height: 70vw;
                max-height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                .imgPlanta{
                    max-height: 95%;
                }
            }
        }

    }
}
@media(min-width: 1000px) {
    .container .maxSize{
      .divImg{
        width: 100vw;
        height: 42vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        .btnRight{
            background-color: transparent;
            i{
                font-size: 40rem;
                background-color: rgba(255,255,255,0.5);
                padding: 8px 16px;
                border-radius: 32px;
            }
        }
        .btnLeft{
            background-color: transparent;
            i{
                font-size: 40rem;
                background-color: rgba(255,255,255,0.5);
                padding: 8px 16px;
                border-radius: 32px;
            }
        }
      } 
      .divMoreImages{
        font-size: 16rem;
      }
      .divDescription .left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 16rem;
      }
    }
}
@media(min-width: 1143px) {
    .container .maxSize .divDescription .left{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 16rem;
    }
}