.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    .maxSize{
        width: 98%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .divText{
            margin-top: 100px;
            margin-bottom: 10px;
            width: 100%;
            border-left: 5px solid rgb(30, 50, 80);
            border-radius: 4px;
            overflow: hidden;
            h2{
                margin: 0 0 0 6px;
                color: rgb(30, 50, 80);
                font-weight: 400;
                font-size: 24rem;
            }
        }
        .divImg{
            width: 98vw;
            height: 42vw;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8rem;
            overflow: hidden;
            position: relative;
            .imgCarrousel1{
                height: 40vw;
                width: 67vw;     
                margin: 16rem 0;
                position: absolute;
                right: 217vw;
            }
            .imgCarrousel2{
                height: 40vw;
                width: 67vw;    
                margin: 16rem 0;
                position: absolute;
                right: 150vw;
                transition: 1s ease-in-out;
            }
            .imgCarrousel3{
                height: 40vw;
                width: 67vw;     
                margin: 16rem 0;
                position: absolute;
                right: 83vw;
                transition: 1s ease-in-out;
            }
            .imgCarrousel4{
                height: 40vw;
                width: 67vw;     
                margin: 16rem 0;
                position: absolute;
                right: 15vw;
                transition: 1s ease-in-out;
            }
            .imgCarrousel5{
                height: 40vw;
                width: 67vw;     
                margin: 16rem 0;
                position: absolute;
                right: -53vw;
                transition: 1s ease-in-out;
            }
            .imgCarrousel6{
                height: 40vw;
                width: 67vw;     
                margin: 16rem 0;
                position: absolute;
                right: -120vw;
                transition: 1s ease-in-out;
            }
            .imgCarrousel7{
                height: 40vw;
                width: 67vw;     
                margin: 16rem 0;
                position: absolute;
                right: -187vw;
            }
            .btnRight{
                position: absolute;
                z-index: 1;
                width: 8vw;
                height: 30vw;
                right: 20rem;
                font-weight: 600;
                color: rgb(30, 50, 80);
                background-color: transparent;
                border: none;
                i{
                    font-weight: 600;
                    font-size: 24rem;
                }
            }
            .btnLeft{
                position: absolute;
                z-index: 1;
                width: 8vw;
                height: 30vw;
                left: 20rem;
                font-weight: 600;
                color: rgb(30, 50, 80);
                background-color: transparent;
                border: none;
                i{
                    font-weight: 600;
                    font-size: 24rem;
                }
            }
        }
        .divMap{
            width: 100%;
            height: 400px;
            display: flex;
            margin-bottom: 50rem;
            .maps{
                width: 100%;
                height: 100%;
                border: none;
            }
        }
        .divDescription{
            height: fit-content;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: white;
            .left{
                width: 100%;
                min-width: 310px;
                max-width: 400px;
                height: 500px;
                display: none;
                p{
                    font-size: 20rem;
                    font-weight: 200;
                    color: rgb(30, 50, 80);
                }
            }
            .right{
                width: 100%;
                max-width: 720px;
                min-width: 300px;
                height: 70vw;
                max-height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                .imgPlanta{
                    max-height: 95%;
                }
            }
        }

    }
}
@media(min-width: 768px) {
    .container .maxSize {
        .divImg{
            gap: 20rem;
            .btnRight{
                background-color: rgba(255, 255, 255, 0.7);
                width: 4vw;
                height: 4vw;
                border-radius: 50rem;
            }
            .btnLeft{
                background-color: rgba(255, 255, 255, 0.7);
                width: 4vw;
                height: 4vw;
                border-radius: 50rem;
            }
        }
        .divMap{
            height: 450px;
        }
    }
}
@media(min-width: 1143px) {
    .container .maxSize .divDescription .left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 16rem;
    }
}
