.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 50, 80);
    .maxSize{
        width: 98%;
        max-width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .logo{
            width: 33%;
            min-width: 320px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .imgLogo{
                width: 110px;
                height: 110px;
                margin-top: 45rem;
            }
            p{
                margin-top: 8rem;
                color: white;
                font-weight: 200;
                font-size: 12rem;
                margin-bottom: 45rem;
            }
        }
        .info{
            width: 33%;
            min-width: 320px;
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            h3{
                font-size: 24rem;
                color: white;
                font-weight: 600;
                margin: 60rem 0 8rem 0;
            }
            .divIcons{
                height: 40px;
                display: flex;
                align-items: flex-end;
                gap: 40rem;
                a{
                    text-decoration: none;
                    color: rgb(185,185,185);
                    transition: 0.5s;
                    i{
                        font-size: 28rem;
                    }
                }
                a:hover{
                    color: white;
                    margin-bottom: 6rem;
                }
            }
        }
        .message{
            width: 33%;
            min-width: 320px;
            height: fit-content; 
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .divContact{
                display: flex;
                flex-direction: column;
                width: 50%;
                align-items: center;
                h2{
                    color: white;
                    font-weight: 600;
                    margin: 60rem 0 16rem 0;
                }
                a{
                    font-size: 16rem;
                    color: rgb(185,185,185);
                    margin-bottom: 10rem;
                    text-align: left;
                    font-weight: 200;
                    transition: 0.5s;
                }
                a:hover{
                    margin-left: 8rem;
                    color: white;
                }
                h3{
                    font-size: 14rem;
                    color: rgb(185,185,185);
                    margin-bottom: 10rem;
                    text-align: left;
                    font-weight: 200;
                    transition: 0.5s;
                }          
                h3:hover{
                    margin-left: 8rem;
                    color: white;
                }
            }
        }
    }
}
@media(min-width: 980px) {
    .container .maxSize .logo{
        background: radial-gradient(circle, rgba(30,150,150,0.5) 0%, rgba(60,100,160,0.5) 20%, rgba(30,50,80,0.5) 70%);       
    }
    .container .maxSize .message .divContact{
        align-items: flex-start;
    }
}