.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 50, 80);
    .maxSize{
        width: 98%;
        max-width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 16rem 0;
        .logo{
            width: 33%;
            min-width: 320px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .imgLogo{
                width: 110px;
                height: 110px;
                margin-top: 16rem;
            }
            h4{
                margin-top: 8rem;
                color: white;
            }
            p{
                margin-top: 8rem;
                color: white;
                font-weight: 200;
                font-size: 12rem;
            }
        }
        .info{
            width: 33%;
            min-width: 320px;
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            h3{
                font-size: 24rem;
                color: white;
                font-weight: 300;
                margin: 30rem 0 16rem 0;
            }
            .divIcons{
                height: 50px;
                display: flex;
                flex-direction: column;
                gap: 13rem;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 14rem;
                    font-weight: 200;
                    margin-bottom: 16rem;
                    i{
                        margin-right: 8rem;
                        font-size: 18rem;
                    }
                }
            }
        }
        .message{
            width: 33%;
            min-width: 320px;
            height: fit-content; 
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            h2{
                color: white;
                font-weight: 300;
                margin: 30rem 0 16rem 0;
            }
            a{
                font-size: 16rem;
                color: white;
                margin-bottom: 10rem;
                text-align: left;
                font-weight: 200;
            }
            h3{
                font-size: 14rem;
                color: white;
                margin-bottom: 10rem;
                text-align: left;
                font-weight: 200;
            }          
        }
    }
}
