.container{
    width: 100%;
    height: fit-content;
    background-image: url("../../img/frente.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
@media(min-width: 768px) {
    .container{
        background-attachment: fixed;
    }
}